<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<body bgcolor="white">
		<table>
			<td>
				<img src="./img/pig2.jpg"/>
			</td>
			<td>
					<center><font color=gold size="4">
					<b>寒假除了吃</b>
				</font></center>
				<center><font  color=gold size="7">
					<b>还有睡</b>
				</font></center>
				<center><font  color=gold size="7">
					<b>就剩下玩了</b>
			</td>
			
			<td >
			<div style="position: absolute; bottom: 5px; right: 10px;">
				<font color=chartreuse size="4">
					<b>你想对我说什么。嘻嘻</b>
				</font>
				<br><br/>
				<form action='no' >
					<textarea cols='35' rows='10'>
					
					</textarea>
					<br></br>
					<input type="submit" value="发送"/>
				</form>
			<div/>
			</td>
		</table>	
		</font></center>
	</body>
</html>
